name: Test

on:
  pull_request:
    branches: ["*"]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.24.5'

      - name: Download dependencies
        run: go mod download

      - name: Generate code
        run: go generate ./...

      - name: Run tests
        run: go test -v ./...

      - name: Run staticcheck
        run: go tool staticcheck ./...
